*{
  padding: 0;
  margin: 0;
}

html, body, #root {
  padding: 0;
  height: 100%;
  margin: 0;
}

body {
  background-color: aquamarine;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.botao1{
  
  color: antiquewhite;
  border-radius: 5px;
  background-color: rgb(96, 96, 225);
  padding: 5px 10px;
  cursor: pointer;
}

 .botao1:hover {
      background-color: #2980b9;
      transition: 300ms;
    }